:root {
    
    --text-color: #270E0E;
    --bg-color: #F7EBE8;
    --icon-color: #FFA987;
    --second-icon-color: #F7EBE8;
    --bg-progressbar-color: #CE7552;

    --font-family: 'Montserrat', sans-serif;
  }