.main .main-content{

    display: flex;
    width: 888px;
    padding-left: 138px;
    padding-right: 38px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.main .header { 

    display: flex;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    width: 888px;
}

.main .header .links {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 242px;

}

.main .header .links li { 

    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    width: 242px;
}

.main .header .nome { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

.main .header .links .li .icon-link { 

    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px 9.2px 9.2px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #FFA987;
    
}

.main .header .links .li .icon-link img {

    width: 28.8px;
    height: 28.8px;
    flex-shrink: 0;
}

.main .curriculum {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.main .curriculum .formacao-educacional {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.main .curriculum .formacao-profissional {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.main .projetos {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    align-self: stretch;
}

.main .projetos .containers { 

    display: flex;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
}

.main .projetos .containers div {

    display: flex;
    padding: 32px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #FAE0D5;
    ;

    width: 345px;
    height: 200px;

}

.containers div h4 {

    width: 345px;
}